# Keep Terraform plan/state and logs out of GitHub language statistics
infra/tfplan*      binary linguist-generated
*.tfplan           binary linguist-generated
*.tfstate          linguist-generated
*.tfstate.*        linguist-generated
*.log              linguist-generated

# Exclude Terraform from GitHub language statistics
*.tf    linguist-detectable=false
*.xml   linguist-language=XML
*.http  linguist-language=HTTP
